.a{
    display: block;
    position: relative;
}

.a_position{
    margin: 0 auto 17%;
}

.a__video video{
    border:1px solid #b5bcb6;
    background: url("media/vid.PNG");
}

#a__play{
    position: absolute;
    background: url("media/playround.svg") no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100%;
}

#a__play:hover, .vid__close:hover{
    cursor: pointer
}

.a__header{
    display: inline;
    color: #153a54;;
}

.a__body{
    display: flex;
}

.a__video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.a__text_position{
    padding: 0 6% 0 0;
}

.a__text H4, .a__P2{
    margin: 0;
}


@media (min-width: 1025px) {
    #a__play{
        width: 110px;
        height: 110px;
    }

    .a_position{
        margin: 0 auto 13% auto;
    }
}

@media screen and (max-width: 768px) {

    #a__video-icon {
        display: block;
        width: 100%;
    }

    #a__play {
        width: 140px;
        height: 140px;
    }

    .a__video_position{
        padding-top: 3%;
    }

    .a_position{
        margin-bottom: 24%;
    }

    .a__body{
        display: block;
    }

    .a__text{
        padding: 0;
    }

    .a__H4{
        font-size: 1.6em;
        font-weight: 100;
    }
}